<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blank Page - SB Admin</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <!-- Add custom CSS here -->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
</head>

<body>

  <div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home-admin"> Admin</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li><a href="/home-admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li><a data-toggle="modal" href='/home-admin/user_list'>Members List</a></li>
          <li><a data-toggle="modal" href='/home-admin/add_users'>Add a new user</a></li>
          <li> <a href='/home-admin/admin-edit_account'>Edit Account</a></li>
          <li><a href='/home-admin/add_restaurants'>Add Restaurant</a></li>
          <li> <a href='/home-admin/restaurants_list'>Restaurants Lists</a></li>
          <li><a href='/home-admin/view-restaurant'>View Restaurants</a></li>
          <li><a href='/food-experience'>Food Experience</a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right navbar-user">
          <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= username %>
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#"><a href='/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
      <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg hidden" data-toggle="modal" data-target="#myModal">Open
          Modal</button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Information</h4>
              </div>
              <div class="modal-body">
                <p>You must add at least 2 items for opening a restaurant</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="col-md-offser-3 col-md-6">
              <%if(errors != null){ for(var i=0; i< errors.length; i++){%>
              <p>
                <%=errors[i].msg%>
              </p>
              <%}}%>
            </div>
            <h2 class="text-center"><strong>Add Restaurants and Menus</strong></h2>
            <form action="" method="POST">
              <div class="form-group">
                <label for="restaurantName">Restaurant Name</label>
                <input type="text" name="r_name" id="" placeholder="Enter restaurant name" class="form-control">
              </div>
              <div class="form-group">
                <label for="restaurantName">Restaurant Location</label>
                <select name="r_location" id="" class="form-control">
                  <option value="Gulsan-1">Gulsan-1</option>
                  <option value="Gulsan-2">Gulsan-2</option>
                  <option value="Mohakhali">Mohakhali</option>
                  <option value="Kuril">Kuril</option>
                  <option value="Banani">Banani</option>
                  <option value="Khilkhet">Khilkhet</option>
                  <option value="Nikunjo-2">Nikunjo-2</option>
                  <option value="Airport">Airport</option>
                  <option value="Badda">Badda</option>
                  <option value="Rampura">Rampura</option>
                </select>
              </div>
              <div class="form-group">
                <label for="about">Menus</label>
                <input type="hidden" id="count" name="count" value="1" />
                <textarea class="form-control" type="text" id="detail1" name="about1" rows="2" placeholder="About item"
                  required style="margin-bottom: 10px;"></textarea>

                <input autocomplete="off" class="input form-control" id="field1" name="item1" type="text" required
                  placeholder="Item name" style="margin-bottom: 10px;">
                <button id="b1" class="btn btn-info add-more" type="button">More items</button>
              </div>
              <div class="form-group">
                <label for="about">Details about restaurent</label>
                <textarea name="r_about" id="edit" cols="30" rows="10" class="form-control"
                  placeholder="Enter details of the restaurant"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-success" name="signup" value="Add Restaurant" class="form-control">
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- JavaScript -->
  <script src="/js/jquery-1.10.2.js"></script>
  <script src="/js/bootstrap.js"></script>

  <script type="text/javascript">
    $('#myModal').modal({
      backdrop: 'static',
      keyboard: false
    })
    $(window).load(function () {
      $('#myModal').modal('show');
    });
  </script>
  <script>
    $(document).ready(function () {

      var next = 1;
      $(".add-more").click(function (e) {
        e.preventDefault();
        var addto = "#field" + next;
        var addDetail = "#detail" + next;
        var addRemove = "#field" + (next);
        next = next + 1;
        $("#count").val(next);
        var newIn = '<input autocomplete="off" class="input form-control" id="field' + next + '" name="item' +
          next + '"required placeholder="Item name" type="text" style="margin-bottom: 10px;">';

        var newDe = '<textarea class="form-control" type="text" id="detail' + next + '" name="about' + next +
          '" rows="2" placeholder="About item" style="margin-bottom: 10px;" required></textarea>';
        var newInput = $(newIn);
        var newDe = $(newDe);
        var removeBtn = '<button id="remove' + (next - 1) +
          '" class="btn btn-danger remove-me" >Delete item</button></div><div id="field"></br>';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addto).after(newDe);

        $(addRemove).after(removeButton);
        $("#field" + next).attr('data-source', $(addto).attr('data-source'));

        $('.remove-me').click(function (e) {
          e.preventDefault();
          var fieldNum = this.id.charAt(this.id.length - 1);
          var fieldID = "#field" + fieldNum;
          var fieldD = "#detail" + fieldNum;
          $(this).remove();
          $(fieldID).remove();
          $(fieldD).remove();
        });
      });


    });
  </script>

</body>

</html>