<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home-admin"> Admin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li><a href="/home-admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a data-toggle="modal" href='/home-admin/user_list'>Members List</a></li>
            <li><a data-toggle="modal" href='/home-admin/add_users'>Add a new user</a></li>
            <li><a href='/home-admin/add_restaurants'>Add Restaurant</a></li>
            <li> <a href='/home-admin/restaurants_list'>Restaurants Lists</a></li>
            <li><a href='/home-admin/view-restaurant'>View Restaurants</a></li>
            <li><a href='/food-experience'>Food reviews</a></li>
            <li><a href='/home-admin/contact_list'>Contact list</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-user">

            <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                    <%= username%> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li> <a href='/home-admin/admin-edit_account'>Edit Account</a></li>
                    <li><a href="#"><a href='/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>